body {
    background-color: #dfdfdf;
    font-family: 'Open Sans', sans-serif;
}
.quote {
    height: 250px;
    width:98%;
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    padding: 80px;
    font-family: 'Open Sans', sans-serif;

    font-family: 'Pacifico', cursive;

    font-family: 'Acme', sans-serif;

    font-family: 'Old Standard TT', serif;
    
}
.leftarticle {
    float: left;
    width: 62%;
    margin-left:50px;
    margin-top: 30px;
}
.card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
    margin-left:30px;
}
.recent {
    margin-left:50px;


    font-family: 'Open Sans', sans-serif;

    font-family: 'Pacifico', cursive;

    font-family: 'Acme', sans-serif;




}
.postTitle {
    
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    

}
.postTitle:hover{
    color: teal;
    font-weight: bold;
}
.others {
    font-family: 'Open Sans', sans-serif;

    font-family: 'Pacifico', cursive;

    font-family: 'Acme', sans-serif;
}
.content {

    
    font-family: 'Open Sans', sans-serif;

    font-family: 'Pacifico', cursive;

    font-family: 'Acme', sans-serif;

    font-family: 'Old Standard TT', serif;


}
.subscribe {
    margin-top: 30px;
}