body {
    background-color: #dfdfdf;
}

.post-banner {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 150px;
}
.postTitle {
    color: white;
    text-align: center;
    padding-top: 30px;
}
.blog {
    background-color: white;
}
.adminLinks {
    text-align: center;
}