body {
    background-color: #dfdfdf;
    font-family: 'Open Sans', sans-serif;
}

.post-banner {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 150px;
}
.postTitle {
    color: white;
    text-align: center;
    padding-top: 10px;
    font-family: 'Open Sans', sans-serif;

}
.blog {
    background-color: white;
    margin-top: 10px ;
    font-family: 'Open Sans', sans-serif;

    font-family: 'Pacifico', cursive;

    font-family: 'Acme', sans-serif;

    font-family: 'Old Standard TT', serif;
}
.adminLinks {
    text-align: center;
}
.postTitle {
    font-family: 'Open Sans', sans-serif;
}
.comments {
    font-family: 'Open Sans', sans-serif;
}