{%extends 'base.html'%}
{% import 'bootstrap/wtf.html' as wtf%}
 
<!--Styles Block-->
{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='css/post.css')}}">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Acme|Old+Standard+TT|Open+Sans|Pacifico&display=swap" rel="stylesheet"> 
{% endblock %}

{%block content%}
{{ fontawesome_html() }}
<section class="post-banner" style="background-image:url('/static/quotes.jpeg');">
    <div class="container postTitle" >
        <h1 class="postTitle">{{post.title}}</h1>
        <small>{{post.posted.strftime('%B %d, %Y')}}</small>
    </div>
    <div class="container adminLinks">
    {% if user == 'admin'%}
        <a class="btn btn-danger" href="{{url_for('main.delete',post_id=post.id, action='post')}}"><i class="fas fa-trash-alt"></i>Delete Post</a>
        <a class="btn btn-warning" href="{{url_for('main.update_post',post_id=post.id)}}"><i class="fas fa-edit"></i>Update</a>
    {% endif %}
    </div>
</section>
<div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
        <div class="jumbotron blog">{{post.content|safe}}</div>
    </div>
    <div class="col-sm-2"></div>
</div>

<div class="row ">
    <div class="col-sm-2"></div>
    
    <div class="col-sm-8 jumbotron">

        <div class="container">
            <h4 class="comments">COMMENTS</h4>
            <hr>
                {%if comments%}
                {%for comment in comments%}
                <div class="card">
                    <p>
                    <span style="display: inline-block;"><a href="#">@{{comment.user.username}}</a>:</span>
                    <span style="display: inline-block;">{{comment.comment}}</span>
                    </p>
                    {%if current_user.is_authenticated%}
                    {% if current_user.role.name == 'admin'%}
                    <a class="btn btn-danger" style="width: 50px;float: right   ;" href="{{url_for('main.delete',post_id=comment.post_id, action='comment')}}"><i class="fas fa-trash-alt"></i></a>
                    {% endif %}
                    {% endif %}
                </div>
                {%endfor%}
                {%else%}
                <h4 class="text-muted" style="text-align: center;">No comments</h4>
                {%endif%}
        </div>
        <hr>
        <div class="container">
        {% if current_user.is_authenticated %}
            {{wtf.quick_form(form)}}
        {% else %}
        <p><a href="{{url_for('auth.login')}}">Login </a>to leave a Comment</p>
        {% endif %}
        </div>
    </div>
    <div class="col-sm-2"></div>
</div>

{%endblock%}

