{%extends 'base.html'%}
{% import 'bootstrap/wtf.html' as wtf%}


{%block content%}
<div class="row">
    <div class="jumbotron">
        <h1>{{post.title}}</h1>
        <p>{{post.content}}</p>
        {% if current_user.role.name == 'admin'%}
            <a href="{{url_for('main.delete',post_id=post.id, action='post')}}">Delete Post</a>
            <a href="{{url_for('main.update_post',post_id=post.id)}}">Update</a>
        {% endif %}
        
    </div>
    <div class="container">
        {{wtf.quick_form(form)}}

    </div>
    <div class="container">
        {%if comments%}
        {%for comment in comments%}
        <ul>
            <li>{{comment.comment}}</li>
            {% if current_user.role.name == 'admin'%}
            <a href="{{url_for('main.delete',post_id=comment.post_id, action='comment')}}">Delete Comment</a>
            {% endif %}
        </ul>
        {%endfor%}
        {%endif%}
    </div>

</div>
{%endblock%}